<% if @swap.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@swap.errors.count, "error") %>
      prohibited this swap from being saved:
    </h2>
 
    <ul>
    <% @swap.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @swap do |f|%>
    
<%=f.label :title%>
<%=f.text_field :title%>

<%= f.hidden_field :seed_id%>
<br>
<br>

<%= f.collection_select :seed_id, Seed.all, :id, :name %>
<%= f.hidden_field :user_id%>

<%=f.submit "Submit"%>

<%end%>


